.nav-item{
   padding: 4px;
   border-radius: 2px;
   margin-right: 20px;
}
.logo{
    margin-right: 650px;
    /* margin-left: 40px; */
}
.row{
    display: flex;
    width: fit-content;
    
}


.container-fluid{
    background-color: rgb(247, 194, 61);
    min-height:300px;
    background: linear-gradient(3);
   
}
.footer {
    background-color: grey;
    min-height:40px;
    justify-content:center;
    align-content: center;
    margin: auto;
}
i.fa{
    padding: 2px;
    size: 10px;
    display: flex;
}

.post1{
    display: flex;
}
.post1 h3{
    padding: 5px;
    background-color: rgb(226, 223, 219);
    border-radius: 6px;
    margin-right: 25px;
    width: 60px;
    padding-left: 10px;
}
.post2{
    display: flex;
}
.post2 h3{
    padding: 5px;
    background-color: rgb(226, 223, 219);
    border-radius: 6px;
    margin-right: 25px;
    width: 60px;
    padding-left: 10px;
}
.post3{
    display: flex;
}
.post3 h3{
    padding: 5px;
    background-color: rgb(226, 223, 219);
    border-radius: 6px;
    margin-right: 25px;
    width: 60px;
    padding-left: 10px;
}
.soc{
    display: inline-grid;
    
}

.soc a i{
    display: flex;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .pra{
    background-color:lightcyan;
  }
  .pr1{
    border: 3px;
    border-style: solid;
    margin: 5px;
  }
  .pr2{
    border: 3px;
    border-style: solid;
    margin: 5px;
  }
  .pr3{
    border: 3px;
    border-style: solid;
    margin: 5px;
    border-radius: 2px;
  }
  .col{
    padding-top: 10px;
  }

    .section {
        padding: 0 0 50px;
        text-align: center;
        width: 100%;
    }
  
    
    .section h2 {
        font-size:30px;
        font-weight: bold;
    }
    .section h5 {
        font-size: 18px;
        margin: 20px 0;
    }
    .wrapper {
        width: 1200px;
        margin: auto;}
    
    .col img {
        width: 100%;
    }
    
    .col {
        padding: 0 10px;
        transition: 0.5s;
    }